*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  height: 90vh;
}
#cadre{
  width: 350px;
  height: 550px;
  background-image: url(fond1.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
a{
  visibility: visible;
}
.flappy{
  width: 30%;
  position: relative;
  z-index: 20;
}
.pipe{
  position: absolute;
  z-index: 30;
  margin-left: 150px;
  margin-top: 0px;
  padding-bottom: 650px;
  right: -15vh;
}
